
#tabs-2 {
	position: relative;
	height: 120px;
	margin: 50px 0;
	padding: 10px 0 10px 90px;
	border: 1px solid #999;
}

/*replace classes*/
.replace-tabs-nav{
	list-style: none;
	padding: 0;
	width: 80px;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
}
.replace-nav-panel {
	width: 100%;
	height: 100%;
	display: none;
}
.replace-nav-panel.tabs-state-active {
	display: block;
}
.replace-nav-item{
	background: #ff8b28;
	display: block;
	line-height: 35px;
	text-align: center;
}
.replace-nav-item.tabs-state-active{
    background: #dc7a00;
}

.replace-nav-item.tabs-state-disabled{
    background: #e2e2e2;
}

.tabs .replace-nav-anchor{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.tabs-state-disabled .replace-nav-anchor{
    color: #f0f0f0;
}


