/*demo的样式*/

#tabs-panel-1 {
	background: #0ff;
}
#tabs-panel-2{
	background: #f0f;
}
#tabs-panel-3 {
	background: #ff0;
}


#tabs-panel-4 {
	background: #0ff;
}
#tabs-panel-5{
	background: #f0f;
}
#tabs-panel-6 {
	background: #ff0;
}
#tabs-panel-7 {
	background: #f00;
}


/*replace classes*/
.replace-tabs-nav{
	list-style: none;
	padding: 0;
	border: 4px solid #ddd;
	width: 120px;
}

.replace-nav-item{
	background: #7cb1ff;
	display: block;
	line-height: 35px;
	text-align: center;
}
.replace-nav-item.tabs-state-active{
    background: #3079e4;
}

.replace-nav-item.tabs-state-disabled{
    background: #e2e2e2;
}

.tabs .replace-nav-anchor{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.tabs-state-disabled .replace-nav-anchor{
    color: #f0f0f0;
}


